<h1>Sign Up</h1>
<%= form_with model: @user, url: registrations_path do |form| %>
  <p>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </p>
  <p>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </p>
  <%= form.submit "Sign Up"%>
<% end %>
